dist/index.html
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Welcome to my lair, trespasser. Don't forget to mention me !!" />
    <meta name="author" content="Loïc MANDINE" />
    <title>The Amazing Portfolio</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Lo&iuml;c MANDINE</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="CAN'T DISPLAY PROFILE PICTURE " /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
        </ul>
    </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Lo&iuml;c
                <span class="text-primary">MANDINE</span>
            </h1>
            <div class="subheading mb-5">
                &#x1F30D; Actually in France, Sophia-Antipolis &middot; &#x1F4DE; (+33) 6.85.36.16.69 &middot; &#x1F449;
                <a href="mailto:loic.mandine@gmail.com">loic.mandine [at] gmail.com</a>
                &#x1F448;
            </div>
            <p class="lead mb-5">
                &#x1F680;
                <b><u>I am a freshly graduated engineer looking for a professional experience abroad</u></b>
                &#x1F680;
                <br />
                <b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &#x231B; Available from September 2022</b>
                <br />
                <br />
                As a graduate in Applied Mathematics and Data Science and Modeling, I am interested in translating data into valuable and comprehensible insights in order to improve results or make the right decisions.
                <br />
                <br />
                Generally speaking, I have always been passionate about programming and the technologies involved. From cybersecurity to decentralized blockchain-based technologies and embedded robotics, all my interests are vast and my endless appetite of knowledge is never satisfied.
                <br />
                <br />
                &#x1F60A; Did I slightly catch your eye? &#x1F60A; Then,
                <em>rendez-vous</em>
                below to discover a little more about me &#x1F447; &#x1F447; &#x1F447;
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/loic-mandine/"><i class="fa-solid fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://gitlab.com/loloMande"><i class="fab fa-gitlab"></i></a>
                <a class="social-icon" href="https://twitter.com/MdPlopy"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://medium.com/@locomd"><i class="fab fa-medium"></i></a>
                <a class="social-icon" href="https://www.hackerrank.com/loic_mandine"><i class="fab fa-hackerrank"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">AI Data Scientist Apprenticeship</h3>
                    <div class="subheading mb-3">
                        AzurIA
                        <a href="https://www.azuria.earth/"><img alt="Azuria_Logo" src="https://www.azuria.space/web/image/690-6b1f2a72/Logo%20Azuria%20-%20figuratif%20-%20TextToPath.svg?access_token=40d414b8-ea45-4206-809b-507af70973a9" width="40" height="40" /></a>
                    </div>
                    <p>
                        I joined Azur&Idot;A to strengthen the Research &amp; Development team and to support all projects in Artificial Intelligence .
                        <br />
                        <b>Main Objective</b>
                        : Implement Machine/Deep Learning techniques to process multi-spectral images.
                        <br />
                        &emsp;&emsp;Writing a state of the art of multi-spectral image processing,
                        <br />
                        &emsp;&emsp;Building a multi-spectral image dataset for training and validation of AI solutions,
                        <br />
                        &emsp;&emsp;Training a reference Deep Learning algorithm on this dataset,
                        <br />
                        &emsp;&emsp;Participating in the implementation of an innovative AI outperforming reference AI ; are all milestones under development...
                        <br />
                        <b>Domains involved</b>
                        : Space imagery or Spectrometry
                        <br />
                        <b>While keeping in mind</b>
                        the environmental impact of digital, consumption measures of the resources are done, trying to use them sparingly.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2019 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Scientist Intern &middot; Machine learning for medical diagnosis in oncology</h3>
                    <div class="subheading mb-3">Center Antoine Lacassagne, CHU Nice &middot; Department of Epidemiology, Biostatistics and Health Data</div>
                    <p>
                        In a first step, the objective of this internship was to develop and validate a machine learning model to help in the decision of malignancy of a thyroid nodule. In a second step, the performance of several machine learning methods was then compared.
                        <br />
                        <b>Tools used</b>
                        : R, Rstudio
                        <br />
                        This statistical study has lead to the publication of a scientific article in the highly-known medical journal
                        <b>THE LANCET</b>
                        ; of which I will have the chance to be cited as the 3rd author.
                        <br />
                        <em>
                            <u>Reference</u>
                            : Application of machine learning methods to guide patient management by predicting the nature and the risk of malignancy of Bethesda III-V thyroid nodules.
                        </em>
                        <b>(Current Status: Under Review)</b>
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2019 - September 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Participation to a hackaton</h3>
                    <div class="subheading mb-3">ELETRONIE | POLYTECH Nice-Sophia</div>
                    <p>
                        The company
                        <a href="https://electronie.fr/">ELECTRONIE</a>
                        , specialized in the design, development and production of electronic cards and systems, proposed to take up a challenge based on its flagship product,
                        <a href="https://hoplitekeymanager.com/index.php?page=presentation.">a hardware password manager</a>
                        .
                        <br />
                        The exercise consisted in finding an exploitable vulnerability, a security flaw in an application
                        <br />
                        Indeed, Perform reverse engineering, analyze a c++ decompiler/unpacker (using tools as: ghidra, angr, ...)
                        <br />
                        Unfortunately, my undeniable motivation was not sufficient in front of the more advanced experience of my comrades of the cybersecurity department.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2018 - August 2018</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Various Summer Jobs</h3>
                    <div class="subheading mb-3">Monaco</div>
                    <p>
                        Beach attendant at Monte-Carlo Beach,
                        <br />
                        Stewarding Monte-Carlo Accueil,
                        <br />
                        Multipurpose team member at MacDonald&apos;s Monaco
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Summer periods 2016-2019</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Polytech Nice Sophia-Antipolis</h3>
                    <div class="subheading mb-3">Applied Mathematics and Modeling Department - Data Science minor</div>
                    <p>
                        See details
                        <a href="https://polytech.univ-cotedazur.fr/formations/formations-ingenieurs/ingenieur-mathematiques-appliquees-et-modelisation">here</a>
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2019 - 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">General preparatory cycle for engineering schools - PEIP Polytech Nice</h3>
                    <div class="subheading mb-3">Sophia-Antipolis</div>
                    <p>
                        A
                        <a href="https://www.polytech-reseau.org/cycle-preparatoire-peip/">preparatory program</a>
                        designed to provide students with a multidisciplinary basic scientific education offering a common base of scientific skills (mathematics, physics-chemistry, computer science, etc.) and cross-disciplinary skills (English, communication, business knowledge), complemented by local specificities.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2017 - 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Albert 1er High School</h3>
                    <div class="subheading mb-3">Scientific sector</div>
                    <p>Scientific High School diploma (&quot;Baccalaur&eacute;at&quot;), with High Honors</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2014 - 2017</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages &amp; Tools &amp; Frameworks</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-python"></i></li>
                <li class="list-inline-item"><i class="fab fa-docker"></i></li>
                <li class="list-inline-item"><i class="fab fa-git-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-gitlab"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-terminal"></i></li>
                <li class="list-inline-item"><i class="fab fa-linux"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-bolt"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-microchip"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    .......
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    .....
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Outdoors hobbies :</p>
            <p class="mb-0">Indoor hobbies :</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards &amp; Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    ....
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    ....
                </li>
            </ul>
        </div>
    </section>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

src/pug/index.pug
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content="Welcome to my lair, trespasser. Don't forget to mention me !!")
  meta(name='author' content='Loïc MANDINE')
  title Loic Mandine's Portfolio 
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
// Navigation
nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  a.navbar-brand.js-scroll-trigger(href='#about')
    span.d-block.d-lg-none Lo&iuml;c MANDINE
    span.d-none.d-lg-block
      img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg' alt="CAN'T DISPLAY PROFILE PICTURE ")
  button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#about') About
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#experience') Experience
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#education') Education
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#skills') Skills
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#interests') Interests
// Page Content
.container-fluid.p-0
  // About
  section#about.resume-section
    .resume-section-content
      h1.mb-0
        | Lo&iuml;c
        span.text-primary MANDINE
      .subheading.mb-5
        | &#x1F30D; Actually in France, Sophia-Antipolis &middot;
        | &#x1F4DE;
        a(href='tel:+33685361669') +33 6.85.36.16.69 &middot;
        | &#x1F449; 
        a(href='mailto:loic.mandine@gmail.com') loic.mandine@gmail.com
        |  &#x1F448;
      p.objective.mb-5
        | &#x1F680; 
        b
          u
            | I am a freshly graduated engineer looking for a professional
            | experience abroad
        |  &#x1F680;
        br
        b
          |                     &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &#x231B; Available from September 2022
      p.lead.mb-5
        br
        br
        |                     As a graduate in Applied Mathematics and Data Science and Modeling, I am interested in translating
        |                     data into valuable
        |                     and comprehensible insights in order to make the right ecological-driven decisions.
        br
        br
        |                     Generally speaking, I have always been passionate about programming and the technologies it involves.
        |                     From cybersecurity to decentralized technologies and embedded robotics,
        |                     all my interests are vast and my thirst for knowledge endless.
        br
        br
        |                     &#x1F60A; Did I slightly catch your eye? &#x1F60A; Then, 
        em rendez-vous
        |  below to discover a
        |                     little more about me &#x1F447; &#x1F447; &#x1F447;
      .social-icons
        a.social-icon(href='assets/img/cv Anglais.pdf')
          i.fab.fa-readme
        a.social-icon(href='https://www.linkedin.com/in/loic-mandine/')
          i.fab.fa-linkedin-in
        //- a.social-icon(href='https://gitlab.com/loloMande')
        //-   i.fab.fa-gitlab
        a.social-icon(href='https://twitter.com/MdPlopy')
          i.fab.fa-twitter
        a.social-icon(href='https://medium.com/@locomd')
          i.fab.fa-medium
        a.social-icon(href='https://www.hackerrank.com/loic_mandine')
          i.fab.fa-hackerrank
        
  hr.m-0
  // Experience
  section#experience.resume-section
    .resume-section-content
      h2.mb-5 Experience
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 AI Data Scientist Apprenticeship
          .subheading.mb-3
            | AzurIA
            a(href='https://www.azuria.earth/')
              img(alt='Azuria_Logo' src='https://www.azuria.space/web/image/690-6b1f2a72/Logo%20Azuria%20-%20figuratif%20-%20TextToPath.svg?access_token=40d414b8-ea45-4206-809b-507af70973a9' width='40' height='40')
          p
            | I joined Azur&Idot;A to strengthen the Research &amp; Development team and to support all projects in Artificial Intelligence .
            br
            b Main Objective
            |  : Implement Machine/Deep Learning techniques to process multi-spectral images.
            br
            |                             &emsp;&emsp;Writing a state of the art of multi-spectral image processing and Remote Sensing datasets,  
            br                            
            |                             &emsp;&emsp;Building a multi-spectral image dataset for training and validation of AI solutions,
            br
            |                             &emsp;&emsp;Training a reference Deep Learning algorithm on this dataset,
            br
            |                             &emsp;&emsp;Participating in the implementation of an innovative AI outperforming reference AI ; are all milestones under development.
            br
            b Domains involved
            |   : Space imagery or Spectrometry
            br
            b While keeping in mind
            |  the environmental impact of digital, consumption measures of the resources are done, trying to use them sparingly.
            br
            br
            b Some cool demos :
            br
            a(href='assets/img/demo_bateau.jpg')
              img(alt='Boat_Detection_Demo' src='assets/img/demo_bateau.jpg' width='400' height='250')
            a(href='assets/img/demo_vigne.jpg')
              img(alt='Vign_Health_Detection_Demo' src='assets/img/demo_vigne.jpg' width='400' height='250')
            a(href='assets/img/demo_cloud.png')
              img(alt='Cloud_Segmentation_Demo' src='assets/img/demo_cloud.png' width='400' height='250') 
        .flex-shrink-0
          span.text-primary September 2021 - Present
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 BonsApps - 1st Support programme
          .subheading.mb-3
            | BonsEyes AI Marketplace Project - Defect Detection 
            a(href='https://bonsapps.eu/')
              img(alt='BonsApp_Logo' src='https://bonsapps.eu/wp-content/uploads/2021/06/BONSAPPS-FINAL-LOGOS-05-e1624642060159.png' width='125' height='50')
          p
            | Azur&Idot;A's R&amp;D team has successfully participated in Stage 1 of the 1st support programme of BonsAPPs 
            br
            | During the two-month programme, we developed a structured datatool and an AI Asset workflow for the training and deploymentof deep neural network on the edge.
            br
            | Our team took part in the Manufacturing challenge for the task "Defect Detection".
        .flex-shrink-0
          span.text-primary February 2022 - April 2022
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Data Scientist Intern &middot; Machine learning for medical diagnosis in oncology
          .subheading.mb-3
            | Center Antoine Lacassagne, CHU Nice &middot; Department of Epidemiology, Biostatistics and Health Data
          p
            | In a first step, the objective of this internship was to develop and validate a machine learning model to help in the decision of malignancy of a thyroid nodule. 
            | In a second step, the performance of several machine learning methods was then compared.
            br
            b Tools used
            |  : R, Rstudio
            br
            |                             This statistical study has lead to the publication of a scientific article in the medical journal 
            b THE LANCET
            | ; 
            |                             of which I will have the chance to be cited as the 3rd author.
            br
            em
              u Reference
              |  : Application of machine learning methods to guide patient management by predicting the nature
              |                                 and the risk of malignancy of Bethesda III-V thyroid nodules.
            b (Current Status: Under Review)
        .flex-shrink-0
          span.text-primary June 2020 - September 2020
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Participation to a hackaton
          .subheading.mb-3 ELETRONIE | POLYTECH Nice-Sophia
          p
            | The company 
            a(href='https://electronie.fr/') ELECTRONIE
            | , specialized in the design, development and production of electronic cards and systems,
            |                             proposed to take up a challenge based on its flagship product, 
            a(href='https://hoplitekeymanager.com/index.php?page=presentation.') a hardware password manager
            | .
            br
            |                             The exercise consisted in finding an exploitable vulnerability, a security flaw in an application
            br
            |                             Indeed, Perform reverse engineering, analyze a c++ decompiler/unpacker (using tools as: ghidra, angr, ...)
            br
            |                             Unfortunately, my undeniable motivation was not sufficient in front of the more advanced experience of my comrades of the cybersecurity department.
        .flex-shrink-0
          span.text-primary July 2020 - August 2020
      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Various Summer Jobs
          .subheading.mb-3 Monaco
          p
            | Beach attendant at Monte-Carlo Beach,
            br
            |                             Stewarding Monte-Carlo Accueil,
            br
            |                             Multipurpose team member at MacDonald&apos;s Monaco
        .flex-shrink-0
          span.text-primary  Summer periods 2016-2019
  hr.m-0
  // Education
  section#education.resume-section
    .resume-section-content
      h2.mb-5 Education
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Polytech Nice Sophia-Antipolis
          .subheading.mb-3 Applied Mathematics and Modeling Department - Data Science minor
          p
            | In the first year, the curriculum has a generalist dimension in probability, statistics, scientific calculation, computer science and econometrics. 
            | Workshops led by professionals allow students to discover the business world.
            | The second year has a specialization dimension according to the professional project of the future graduate.
            | See details 
            a(href='https://polytech.univ-cotedazur.fr/formations/formations-ingenieurs/ingenieur-mathematiques-appliquees-et-modelisation') here
        .flex-shrink-0
          span.text-primary 2019 - 2022
      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 General preparatory cycle for engineering schools - PEIP Polytech Nice
          .subheading.mb-3 Sophia-Antipolis
          p
            | A 
            a(href='https://www.polytech-reseau.org/cycle-preparatoire-peip/') preparatory program
            |    designed to provide students with a multidisciplinary basic scientific education
            |                             offering a common base of scientific skills (mathematics, physics-chemistry, computer science, etc.)
            |                             and cross-disciplinary skills (English, communication, business knowledge), complemented by local specificities.
        .flex-shrink-0
          span.text-primary 2017 - 2019
      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Albert 1er High School
          .subheading.mb-3 Scientific option
          p European Scientific High School diploma (&quot;Baccalaur&eacute;at&quot;), with
            b High Honors
        .flex-shrink-0
          span.text-primary 2014 - 2017
  hr.m-0

  // licence de sciences, technologies, santé mention sciences et technologies 2020/2021
  // Association MC2D (Monaco Développement Durable) : Finale des XIIéme rencontres Jeunesse et Développement Durable 
  //  Faut-il encore, ojo, construire des centrales nucléaires en France ?

  // Skills
  section#skills.resume-section
    .resume-section-content
      h2.mb-5 Skills
      .subheading.mb-3 Programming Languages &amp; Tools &amp; Frameworks
      h2
      ul.list-inline.dev-icons
        li.list-inline-item
          i.fab.fa-python
        li.list-inline-item
          i.fab.fa-docker
        li.list-inline-item
          i.fab.fa-git-alt
        li.list-inline-item
          i.fab.fa-gitlab
        li.list-inline-item
          i.fa-solid.fa-terminal
        li.list-inline-item
          i.fab.fa-linux
        li.list-inline-item
          i.fa-solid.fa-bolt
        li.list-inline-item
          i.fa-solid.fa-microchip
        li.list-inline-item
          i.fa-solid.fa-database 
        li.list-inline-item
          i.fa-solid.fa-cloud
        
      .subheading.mb-3 Workflow
      ul.fa-ul.mb-0
        li
          span.fa-li
            i.fas.fa-check 
        b Analysis - Deep/Machine Learning :
        |  PyTorch / PyTorch Lightning, TIMM , MMlab (MMDetection / MMdeploy) , Wandb / Tensorboard / FiftyOne, Scikit Learn, Xplique explainability library
        li
          span.fa-li
            i.fas.fa-check 
        b Deployment-oriented :
        |  Gradio.app / Mediapipe / FastAPI, TensorRT on Nvidia Jetson Nano, OpenVino's Intel Neural Stick, Raspberry PI 4B
        li
          span.fa-li
            i.fas.fa-check
        b Infrastructure-oriented :
        |   Cloud Computing (Google Cloud, AWS) / Virtualization Management (Virtual Machines, Docker containers) / HPC providers (OVH, Datacrunch)       
        li
          span.fa-li
            i.fas.fa-check 
        b Storage - Access :
        |  File-System HDFS, Hadoop / Spark, SQL / NoSQL / SQLite
  
        li
          span.fa-li
            i.fas.fa-check 
        b  Soft skills :
        |  Teamwork makes the dream work !! Used to on-site and remote work.

      .subheading.mb-3 Languages
      ul.fa-ul.mb-0
        li
          span.fa-li
            i.fas.fa-check 
          | French : Native       
        li
          span.fa-li
            i.fas.fa-check 
          | English : Bilingual (C1/TOEIC 925)
        li
          span.fa-li
            i.fas.fa-check 
          | Spanish : Conversational
  hr.m-0
  // Interests
  section#interests.resume-section
    .resume-section-content
      h2.mb-5 Interests
      p
        | Outdoor hobbies : Travelling and meet new cultures !!
        | When I have time, I like to go running and do some street-workout.
      p.mb-0
        | Indoor hobbies : Playing and coding DIY projects. Video games. Side projects development. Playing Piano
      p 
        | First Aid certificate holder

// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
// Core theme JS
script(src='js/scripts.js')
